body {
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
  color: #dfc243;
}
a:hover {
  color: #dfc243;
}
pre {
  /* background-color: #1b242b; */
  padding: 20px;
  width: 80%;
  border-radius: 5px;
  border: 1px solid #dfc243;
  overflow: auto;
  overflow-y: hidden;
}
